.App {
  min-height: 100vh;
  display: flex;
  background-image: url('./assets/TokyoGhoul.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Styles for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
